## 
## PROJECT:    imgui-framebuffer
## FILE:       .editorconfig
## PURPOSE:    The root .editorconfig file for imgui-framebuffer Project
## 
## LICENSE:    The MIT License
## 
## MAINTAINER: MouriNaruto (Kenji.Mouri@outlook.com)
## 

root = true

[*.md]
charset = utf-8-bom
end_of_line = crlf
indent_style = space
insert_final_newline = true
